#integracao{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vermelho{
    color: red;
}

.amarelo{
    color: yellow;
}

.verde{
    color: green;
}